.expenseform-container {
    max-width: 700px;
    background-color: var(--container-bg);
    margin: auto;
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    width: 90%;
    overflow-y: auto;
    padding: var(--spacing);
    box-shadow: 0px 4px 10px var(--container-shadow);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    border-radius: 0;
}

/* Inputs and Select Elements */
.expenseform-container input[type="text"],
.expenseform-container input[type="number"],
.expenseform-container input[type="date"],
.expenseform-container select {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--input-bg);
    border: 2px solid var(--input-border);
    border-radius: 5px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s, border-color 0.3s;
}

.expenseform-container h3 {
    color: --var(--input-bg);
    font-size: x-large;
}

/* Labels */
.expenseform-container label {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    align-self: flex-start;
}

/* Submit Button */
.expenseform-container button[type="submit"] {
    width: 100%;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    color: var(--button-text);
    background-color: var(--button-bg);
    border: 2px solid transparent;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.expenseform-container button[type="submit"]:hover {
    background-color: var(--button-hover-bg);
    border-color: var(--dark-slate);
}

/* Input Placeholder */
.expenseform-container input::placeholder {
    font-size: 14px;
    font-style: italic;
    color: var(--text-color);
    opacity: 0.6;
}

/* General container for the entire form */
.expenseform-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}